@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-: radial-gradient(circle farthest-corner at 50.3% 44.5%, rgb(53, 66, 80) 0%, rgb(4, 5, 6) 100.2%);
    --bg-list: #adb5bd;
    --title-bg: linear-gradient(111.4deg, rgb(238, 165, 113) 1%, rgba(246, 215, 148, 1) 58%);
    --dlt-btn: #d62828;
    --txt-color: #2b2d42;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    user-select: none;
    font-family: "Roboto", sans-serif;
    list-style: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 5rem;
    height: 100vh;
    max-height: 100vh;
    background: var(--bg-);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 80%;
}

.list-title-container {
    text-align: center;
    height: 3.5rem;
    width: 35rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: var(--bg-list);
    text-transform: uppercase;
    gap: 1rem;

    & i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        background: #d62828;
        width: 3.1rem;
        height: 3rem;
        border-radius: 100%;

    }

    & .list-title {
        font-weight: 300;
        letter-spacing: 2px;
    }
}

/*------- Input styles -------*/

.search form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.list-input {
    height: 2.7rem;
    width: 20rem;
    border: none;
    border-radius: 8px;
    padding: 0 1rem;
    background: rgb(66, 82, 100);
    outline: none;
    transition: all 0.2s ease-in;
    color: #cad1d8;
}

.list-input::placeholder {
    color: rgb(178, 178, 178);
}

.list-input:focus {
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.525);
    transition: all 0.2s ease-out;
}

.list-btn {
    border: none;
    width: 8rem;
    height: 43.18px;
    border-radius: 8px;
    background: rgb(19, 23, 28);
    border: 1px solid var(--txt-color);
    cursor: pointer;
    outline: none;
    color: #adb5bd;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.2s ease-out;
}

.list-btn:hover {
    background: var(--bg-list);
    color: rgb(19, 23, 28);
    box-shadow: 0 0 10px 0 rgb(19, 23, 28);
    transform: scale(1.01);
    transition: all 0.2s ease-in;
}

.list-btn:active {
    transform: scale(0.95);
}

.empty {
    padding-top: 2rem;
    color: var(--bg-list);
    letter-spacing: 1px;
}

.list-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    

    & li {
        display: flex;
        padding: 0 2rem;
        justify-content: space-between;
        align-items: center;
        height: 3.4rem;
        width: 60%;
        gap: 2px;
    }

    & li p {
        display: flex;
        align-items: center;
        height: 3.4rem;
        width: 100%;
        background:  rgb(19, 23, 28);
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        box-shadow: -1px 0 3px 0px #d62828;
        font-size: 1.3rem;
        font-weight: 400;
        text-align: start;
        padding: 0 1rem;
        color: #adb5bd;
    }

    & li button {
        border: none;
        box-shadow: 1px 0 2px 0px #d62828;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        height: 3.4rem;
        width: 3.5rem;
        background: rgb(19, 23, 28);
        cursor: pointer;
        color: #ff0b0b;
        font-size: 1.2rem;
        font-weight: 600;
        transition: all 0.2s ease-out;

        &:hover {
            background: #ffffffe0;
            box-shadow: 0px 0 9px 0px rgb(19, 23, 28);
            color: rgb(19, 23, 28);
            transition: all 0.1s ease-in;
        }
    }

}




/*------- Animaciones -------*/

.aure {
    animation: aure 3s infinite linear;
}

@keyframes aure {
    0% {
        box-shadow: 0 -2px 10px #230000;
    }

    50% {
        box-shadow: 0 -2px 20px #ff0b0b;
    }

    100% {
        box-shadow: 0 -2px 10px #300000;
    }
}

/*animacion de escribir*/

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.write {
    font: bold 200% Consolas, Monaco, monospace;
    border-right: .1em solid rgb(124, 124, 124);
    width: 18.20ch;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 3s steps(13, end),
        blink-caret .5s step-end infinite alternate;
}